& {
  flex-grow: 1;
  overflow: hidden;
}

.constrained {
  margin: {
    left: auto;
    right: auto;
  }
  padding: 0 $spacing-comfy;
  max-width: 60.0rem;
}

header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;

  * + * {
    margin-left: $spacing-normal;
  }

}

.spacer {
  display: block;
  flex-grow: 1;
  margin-left: 0;
}

h1 {
  align-self: stretch;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
