.modal-backdrop {
  position: absolute;
  top: 40px; // Header height
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30;

  background-color: rgba($color-background-dark, 0.8);
}

.modal-content {
  padding: $spacing-normal;
  position: absolute;
  top: 40px; // Header height
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  z-index: 31;

  background-color: $color-background-light;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px rgba(black, 0.2);

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    * + * {
      margin-left: $spacing-normal;
    }
  }

}
