.button {

  display: inline-block;
  padding: $spacing-close $spacing-comfy;

  background: none;
  border: 1px solid $color-foreground-dark;
  border-radius: 4px;

  color: $color-foreground-dim;
  font-size: 1.4rem;
  line-height: 1;

  &.primary {
    color: white;
  }

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;

    .modal & {
      border-color: #b34f4f;
    }
  }

}

button[disabled],
.button[disabled] {
  opacity: 0.25;
}
