.button {

  display: inline-block;
  padding: $spacing-close $spacing-comfy;

  background: none;
  border: 1px solid $color-foreground-dark;
  border-radius: 4px;

  color: $color-foreground-dim;
  font-size: 1.4rem;
  line-height: 1;

  &.primary {
    color: white;
  }

  &.accent {
    border-color: $color-primary;
    color: hsl(hue($color-primary), 100%, 85%);
  }

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;

    .modal & {
      border-color: #b34f4f;
    }
  }

  em {
    font-style: inherit;
    font-weight: $weight-bold;
  }

}

button[disabled],
.button[disabled] {
  opacity: 0.25;
}

.icon:not(svg) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  background: none;
  border: 1px solid currentColor;
  border-radius: 100%;

  &.danger {
    border-color: #5c3535;
    color: #b34f4f;
  }
}
