[type='search'] {
  display: block;
  margin: $spacing-comfy;
  padding: 0 $spacing-normal;
  height: 30px;
  width: calc(100% - #{$spacing-comfy * 2});

  background: none;
  border: 1px solid $color-background-light;
  border-radius: 15px;
  -webkit-appearance: none;

  color: white;
  font-size: 1.6rem;

  @mixin placeholder {
    color: $color-foreground-dark;
    text-align: center;
  }

  &::-webkit-input-placeholder { @include placeholder; }
  &:-moz-placeholder           { @include placeholder; }
  &::-moz-placeholder          { @include placeholder; }
  &:-ms-input-placeholder      { @include placeholder; }
}

form.modal {

  p {
    display: flex;
    flex-direction: column;
    line-height: 2.4rem;
  }

  p + p {
    margin-top: $spacing-normal;
  }

  label:not(.radio) {
    margin-bottom: $spacing-close;

    color: $color-foreground-dim;
    font-size: 1.6rem;
    font-style: oblique;
  }

  label.radio {
    display: flex;
    align-items: center;
    padding: $spacing-close 0;

    color: $color-foreground-dim;
    cursor: pointer;

    * + * {
      margin-right: $spacing-close;
    }

    a.icon {
      color: $color-foreground-dark;
      .icon { display: none; }
    }

    input {
      display: none;

      &:checked ~ * {
        color: white;

        .icon { display: block; }
      }
    }
  }

  p,
  input {
    padding: 0 $spacing-close;

    font-size: 2.0rem;

    &:focus {
      color: white;
    }
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid $color-foreground-dark;

    &:focus {
      border-bottom-color: currentColor;
    }
  }

}
