* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  outline: none;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

:root {
  box-sizing: border-box;
  overflow: hidden; // Prevent Chrome's overscroll.

  background-color: $color-background-medium;

  color: $color-foreground;
  font-family: $family-normal;
  font-size: 62.5%;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

[data-ember-action]:not(form) {
  cursor: pointer;
}
