@import '_palette';
@import '_resets';
@import '_layout';
@import '_typography';
@import '_icons';
@import '_buttons';
@import '_input';
@import '_lists';

[role='banner'] { @import 'components/banner'; }
.content        { display: flex; flex-grow: 1; }
main            { @import 'components/main'; }
aside           { @import 'components/sidebar'; }
.modal          { @import 'components/modal'; }
